.idea/*
.idea/
*.pyc
.vscode/*
.vscode
*/wandb/
*/wandb/*
*wandb/
*wandb/*
*anaconda3/
*anaconda3/*
*/anaconda3/
*/anaconda3/*
*data/
*data/*
*/data/
*/data/*
*weights/
*weights/*
*/weights/
*/weights/*
*results/
*results/*
*/results/
*/results/*
*masks/
*masks/*
*/masks/
*/masks/*



